# Ignore node_modules
node_modules/
server/node_modules/

# Ignore build directories and files
build/
dist/

# Ignore system files (macOS, Windows, etc.)
.DS_Store
Thumbs.db

# Ignore logs
*.log
*.tmp

# Ignore environment files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore other unnecessary files
*.bak
*.swp
